@page "/sales"
@attribute [Authorize]


<div class="d-flex justify-content-lg-between mb-3">
    <NavLink href="/sale" class="btn btn-secondary">Add New Sales</NavLink>
    <Search SearchItemCallBack="SearchItem"></Search>
</div>
