@inherits LayoutComponentBase

<PageTitle>Inventory</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4">
            <NavLink href="/login">Login</NavLink>
            <button>Logout</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
