@inherits LayoutComponentBase

<PageTitle>Inventory</PageTitle>

<div class="page">

    <main>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <AuthorizeView>
                    <Authorized>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">File</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Masters
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Customers</a></li>
                                        <li><a class="dropdown-item" href="#">Supliers</a></li>
                                        <li><a class="dropdown-item" href="#">Products</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Transactions
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Purchase Order</a></li>
                                        <li><a class="dropdown-item" href="#">Purchases</a></li>
                                        <li><a class="dropdown-item" href="#">Sales Order</a></li>
                                        <li><a class="dropdown-item" href="#">Sales</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Utilities</a>
                                </li>
                            </ul>
                        </div>
                    </Authorized>
                </AuthorizeView>
               
            <div class="px-4">
                <AuthorizeView>
                    <Authorized>
                            <button class="btn btn-outline-secondary" @onclick="Logout" >Logout</button>
                    </Authorized>
                    <NotAuthorized>
                            <NavLink class="btn btn-outline-secondary" href="/login">Login</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
           
            </div>
            </div>
        </nav>
       

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
