@inherits LayoutComponentBase

<PageTitle>Inventory</PageTitle>

<div class="page">

    <main>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <AuthorizeView>
                    <Authorized>
                        <div class="" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">File</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <Dropdown>
                                        <DropdownToggleButton Color="ButtonColor.Light">Masters</DropdownToggleButton>
                                        <DropdownMenu>
                                            <DropdownItem href="/customers"  Type="ButtonType.Link">Customers</DropdownItem>
                                            <DropdownItem href="/suppliers" Type="ButtonType.Link">Suppliers</DropdownItem>
                                            <DropdownItem href="/products" Type="ButtonType.Link">Products</DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </li>
                                <li class="nav-item dropdown">
                                    <Dropdown>
                                        <DropdownToggleButton Color="ButtonColor.Light">Transactions</DropdownToggleButton>
                                        <DropdownMenu>
                                            <DropdownItem href="/purchaseorder" Type="ButtonType.Link">Purchase Order</DropdownItem>
                                            <DropdownItem href="/purchases" Type="ButtonType.Link">Purchases</DropdownItem>
                                            <DropdownItem href="/salesorders" Type="ButtonType.Link">Sales Order</DropdownItem>
                                            <DropdownItem To="#" Type="ButtonType.Link">Sales</DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Utilities</a>
                                </li>
                            </ul>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <div class="px-4">
                    <AuthorizeView>
                        <Authorized>
                            <button class="btn btn-outline-secondary" @onclick="Logout">Logout</button>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="btn btn-outline-secondary" href="/login">Login</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>

                </div>
            </div>
        </nav>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
